#gameWheel {
    transition: .25s ease all;
    width: 75%;
    border-radius: 100%;
    position: relative;
}

/* #gameWheel:hover {
    transition: .5s ease all;
    width: 250px;
} */
#game-container{
    display:flex;
}
#score-area{
    display:block;
    margin-right:50px;
    border: 5px black inset;
    padding:15px;
    height:100vh;
    background-image:url(./images/wheelbackground.jpg);
}
#smokeSpace{
    width:fit-content;
    height: fit-content;
}
#buildings-list{
    display: flex;
    flex-direction: column;
    width:200px;
}
.building-button{
    border-radius: 6px;
    border-style: outset;
    background: conic-gradient(white,grey);
    margin:15px;
}
.upgrade-button{
    border-radius: 6px;
    border-style: outset;
    background: conic-gradient(white,grey);
    margin:15px;
}
.upgrades-list{
    display: flex;
    flex-direction: column;
    width:200px;
}
.building-button:hover{
    transition: .5s ease all;
    transform: scale(1.1);
}
.upgrade-button:hover{
    transition: .5s ease all;
    transform: scale(1.1);
}
/* Smoke effect styles */
.smoke {
    width: 50px;
    height: 50px;
    background: rgba(228, 226, 226, 0.5);
    border-radius: 50%;
    position: absolute;
    animation: disperse 2s ease-out forwards;
    pointer-events: none;
}

@keyframes disperse {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(3);
    }
}
